@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?bk8b0i");
  src: url("../fonts/icomoon.eot?bk8b0i#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?bk8b0i") format("truetype"), url("../fonts/icomoon.woff?bk8b0i") format("woff"), url("../fonts/icomoon.svg?bk8b0i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-up:before {
  content: "\e907";
  color: #fff; }

.icon-employee:before {
  content: "\e900"; }

.icon-graph:before {
  content: "\e901"; }

.icon-medal:before {
  content: "\e902"; }

.icon-rent:before {
  content: "\e903"; }

.icon-star:before {
  content: "\e904"; }

.icon-trust:before {
  content: "\e905"; }

.icon-close-popup:before {
  content: "\e906"; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  outline: none; }

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif !important;
  overflow: hidden; }

.page-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0c2e3b;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  display: none;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden; }
  .page-preloader.load {
    opacity: 1;
    visibility: visible;
    display: block; }
  .page-preloader .loader {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 15px solid #fff;
    border-top-color: #fac012;
    border-bottom-color: #fac012;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

.header {
  height: 85px;
  width: 100%;
  background: #fff; }

.navbar-header {
  min-height: 85px; }

.header-nav {
  padding: 0 0;
  margin: 0 0; }

.header-nav-toggle {
  background: #fac012;
  margin: 20px 10px; }
  .header-nav-toggle .icon-bar {
    background: #fff; }

.navigation {
  height: 85px;
  list-style: none;
  line-height: 85px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0; }
  .navigation li {
    margin-right: 25px;
    float: left; }
    .navigation li a {
      color: #000000;
      text-decoration: none;
      -webkit-transition: .1s linear;
      transition: .1s linear; }
      .navigation li a:hover {
        color: #fac012; }

.slider {
  position: relative;
  width: 100%;
  height: 620px;
  overflow: hidden;
  margin: 0 0; }

.slide-item {
  position: relative;
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .slide-item img {
    width: 100%; }

.slider-content {
  height: 100%; }

.wrap-slide-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 46, 59, 0.4); }

.slide-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 800px;
  padding: 0 50px;
  width: 100%;
  height: 220px;
  color: #fff;
  font-weight: bold;
  text-align: center; }
  .slide-info .slide-title, .slide-info .slide-text {
    font-size: 30px;
    color: #fff; }
  .slide-info .slide-link {
    font-size: 18px;
    width: 256px;
    height: 46px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    background: transparent;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: .1s ease-in;
    transition: .1s ease-in; }
    .slide-info .slide-link:hover {
      background: #fac012; }

.slider-btn-prev, .slider-btn-next {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 100px;
  background: url(../images/slide-arrow-left.svg) no-repeat center #0c2e3b;
  cursor: pointer;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transition: .1s ease;
  transition: .1s ease;
  text-indent: -9999px;
  color: transparent;
  border: none;
  outline: none;
  z-index: 1; }
  .slider-btn-prev:hover, .slider-btn-next:hover {
    background-color: #fac012; }

.slider-btn-prev {
  background-position: 10px center; }

.slider-btn-next {
  left: inherit;
  right: 0;
  background-image: url(../images/slide-arrow-right.svg); }

.wrap-houses {
  background: #fafafa;
  padding-bottom: 75px; }

.houses-head, .choose-house-head, .why-we-head {
  margin: 50px 0 40px; }
  .houses-head .title, .choose-house-head .title, .why-we-head .title {
    color: #0c2e3b;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 0 0; }
  .houses-head .line, .choose-house-head .line, .why-we-head .line {
    height: 3px;
    background: #fac012;
    width: 100%;
    max-width: 140px;
    display: block;
    margin: 15px auto 0; }

.house {
  background: #fff;
  height: 300px;
  padding: 0 0; }
  .house:nth-child(4n+3) .house-img, .house:nth-child(4n+4) .house-img {
    float: right; }
    .house:nth-child(4n+3) .house-img .coner, .house:nth-child(4n+4) .house-img .coner {
      right: inherit;
      left: 0;
      border-right: none;
      border-left: 25px solid white; }

.house-img {
  float: left;
  position: relative;
  height: 100%;
  padding: 0 0; }
  .house-img img {
    width: 100%;
    height: 100%; }
  .house-img:hover .hover {
    -webkit-transition: .1s linear;
    transition: .1s linear;
    opacity: 1; }

.house-info {
  padding: 20px;
  background: #fff;
  font-size: 16px;
  height: 100%; }
  .house-info .title {
    color: #fac012;
    font-weight: 600;
    line-height: 22px; }
  .house-info .location {
    color: #0c2e3b;
    margin: 25px 0 20px; }
  .house-info .flats {
    color: #0c2e3b;
    text-transform: uppercase; }
  .house-info .link {
    display: block;
    width: 190px;
    height: 47px;
    color: #fff;
    background: #0c2e3b;
    -webkit-transition: .1s linear;
    transition: .1s linear;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-top: 40px;
    text-decoration: none;
    outline: none;
    border: none; }
    .house-info .link:hover {
      color: #fac012; }

.hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: url(../images/icon-house.svg) no-repeat center rgba(250, 192, 18, 0.8);
  background-size: 50px;
  opacity: 0; }

.coner {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  border-top: 28px solid transparent;
  border-right: 25px solid white;
  border-bottom: 28px solid transparent;
  z-index: 2; }

.wrap-result {
  background: url(../images/result.png) no-repeat center;
  background-size: cover;
  min-height: 370px;
  width: 100%;
  position: relative; }

.result-background {
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.content-result {
  padding: 65px 90px;
  width: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 2; }

.result-title {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0;
  line-height: 150%; }
  .result-title .you {
    color: #fac012; }

.result {
  padding: 0 0;
  margin: 65px 0 0; }

.result-icon {
  float: left;
  margin-right: 30px; }
  .result-icon > img {
    width: 100%;
    max-width: 130px; }

.result-info {
  color: #fff; }
  .result-info .count {
    font-size: 48px;
    font-weight: bold;
    color: #fac012; }
  .result-info .text {
    font-size: 30px;
    font-weight: 600; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  border: 1px solid #ccc;
  padding: 0 15px;
  border-radius: 15px;
  height: 30px;
  width: 105px;
  position: relative;
  line-height: 25px;
  cursor: pointer; }

input[type="checkbox"] + label::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  height: 13px;
  width: 28px;
  border: 1px solid #ccc;
  border-radius: 15px; }

input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0c2e3b;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out; }

input[type="checkbox"]:checked + label:before {
  right: 15px;
  background-color: #fac012; }

input[type="radio"] {
  display: none; }

.wrap-choose-house {
  padding-bottom: 50px; }

.choose-house-info {
  margin-top: 30px; }

.choose-house-foto img {
  width: 100%;
  max-width: 600px; }

.choose-house-title .house-name {
  font-size: 24px;
  font-weight: 600;
  color: #fac012;
  display: inline-block;
  margin: 0 30px 0 0; }

.choose-house-title .change {
  font-size: 14px;
  color: #0c2e3b;
  text-decoration: underline;
  padding-bottom: 1px;
  opacity: .8;
  -webkit-transition: .1s linear;
  transition: .1s linear; }
  .choose-house-title .change:hover {
    opacity: 1; }

.choose-house-item, .choose-house-flats {
  margin-top: 30px; }
  .choose-house-item .title, .choose-house-flats .title {
    float: left;
    width: 110px;
    font-size: 18px;
    color: #000;
    font-weight: 600; }
  .choose-house-item .options, .choose-house-flats .options {
    display: inline-block; }
    .choose-house-item .options.opt-rooms, .choose-house-flats .options.opt-rooms {
      width: calc(100% - 120px); }
      .choose-house-item .options.opt-rooms input[type="radio"] + label, .choose-house-flats .options.opt-rooms input[type="radio"] + label {
        border: 1px solid #ccc;
        padding: 0 15px;
        border-radius: 15px;
        height: 30px;
        width: 90px;
        position: relative;
        line-height: 25px;
        cursor: pointer;
        text-align: right;
        margin: 0 15px 25px 0; }
      .choose-house-item .options.opt-rooms input[type="radio"] + label::before, .choose-house-flats .options.opt-rooms input[type="radio"] + label::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 10px;
        -webkit-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
        height: 15px;
        width: 15px;
        border: 1px solid #ccc;
        border-radius: 50%;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out;
        z-index: 1;
        background-color: transparent; }
      .choose-house-item .options.opt-rooms input[type="radio"]:checked + label::before, .choose-house-flats .options.opt-rooms input[type="radio"]:checked + label::before {
        background-color: #fac012;
        border-color: #fac012; }

.choose-house-flats .title {
  width: 180px; }

.choose-house-flats .options.opt-flats {
  width: calc(100% - 190px); }

.choose-house-flats .numb-of-room {
  float: left;
  margin: 0 4px 5px 1px; }
  .choose-house-flats .numb-of-room input[type="radio"] + label {
    color: #000;
    height: 23px;
    width: 23px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer; }
  .choose-house-flats .numb-of-room input[type="radio"]:checked + label {
    border-color: #fac012;
    color: #0c2e3b; }

.choose-house-send {
  width: 280px;
  height: 47px;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  background: #0c2e3b;
  border-radius: 5px;
  -webkit-transition: .1s ease;
  transition: .1s ease;
  margin: 80px auto 0;
  display: block; }
  .choose-house-send:hover {
    color: #fac012; }

.floor-planing {
  text-align: center;
  margin: 55px 0 40px; }
  .floor-planing .title {
    color: #0c2e3b;
    margin: 0 0;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px; }
  .floor-planing .foto img {
    width: 100%;
    max-width: 675px; }

.variables-planing {
  text-align: center; }
  .variables-planing .title {
    color: #0c2e3b;
    margin: 0 0;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px; }
  .variables-planing .item {
    display: inline-block;
    margin: 0 70px; }
    .variables-planing .item img {
      margin-bottom: 65px;
      width: 100%; }
    .variables-planing .item .name {
      font-size: 24px;
      margin: 0 0 25px;
      color: #8c8c8c; }
    .variables-planing .item .length {
      font-size: 24px;
      font-weight: bold;
      color: #0c2e3b; }
      .variables-planing .item .length .meters {
        color: #fac012;
        font-size: 22px; }

.wrap-uniqueness {
  min-height: 300px;
  width: 100%;
  background: url(../images/tumbs.png) no-repeat center;
  background-size: cover;
  position: relative; }

.uniqueness-background {
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.content-uniqueness {
  padding: 75px 15px;
  width: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 2; }

.uniqueness-info {
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0 0; }
  .uniqueness-info .title {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 5px; }
  .uniqueness-info .text {
    text-transform: uppercase;
    color: #fac012; }

.uniqueness-item {
  background: no-repeat right 5px center #fac012;
  height: 140px;
  color: #fff;
  padding: 30px 20px 0;
  margin-bottom: 30px; }
  .uniqueness-item .title {
    font-size: 36px;
    padding: 0 0;
    margin: 0 0 20px;
    font-weight: bold; }
  .uniqueness-item .text {
    font-size: 16px;
    font-weight: bold; }
  .uniqueness-item.clients {
    background-image: url(../images/clients.png); }
  .uniqueness-item.quality {
    background-image: url(../images/quality.png); }
  .uniqueness-item.family {
    background-image: url(../images/family.png); }

.why-we-item {
  min-height: 183px;
  height: 100%;
  width: 100%;
  border: 1px solid #fafafa;
  padding: 25px 10px 10px 75px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  position: relative;
  margin: 30px 0 100px; }
  .why-we-item.active {
    border-color: #fac012; }
  .why-we-item .icon {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    background: #fafafa;
    height: 60px;
    width: 60px;
    -webkit-transition: .4s ease;
    transition: .4s ease;
    padding: 18px;
    z-index: 1;
    text-decoration: none;
    border: none;
    outline: none;
    color: #fac012; }
    .why-we-item .icon i:before {
      color: #fac012;
      font-size: 24px; }
    .why-we-item .icon:hover {
      background-color: #fac012; }
      .why-we-item .icon:hover i:before {
        color: #fff; }
  .why-we-item .title {
    color: #272727;
    font-size: 18px;
    font-weight: 600; }
  .why-we-item .text {
    font-size: 14px;
    color: #afafaf;
    line-height: 150%; }

.wrap-contact {
  position: relative;
  min-height: 625px;
  height: 625px;
  width: 100%; }
  .wrap-contact .map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

.contact {
  position: relative;
  height: 100%;
  padding: 0 35px; }
  .contact .title {
    font-size: 30px;
    color: #0c2e3b;
    font-weight: bold;
    margin: 0 0;
    border-left: 2px solid #fac012;
    padding-left: 22px;
    height: 40px;
    margin-bottom: 30px; }

.contact-form {
  max-width: 570px;
  width: 100%;
  min-height: 510px;
  background: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 2;
  padding: 30px; }
  .contact-form input, .contact-form textarea, .contact-form select {
    margin-bottom: 30px;
    border: 1px solid #cccccc;
    outline: none;
    padding: 20px 15px;
    height: 50px;
    width: 100%;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    color: #000;
    font-size: 16px; }
    .contact-form input:focus, .contact-form textarea:focus, .contact-form select:focus {
      border-color: #fac012; }
  .contact-form select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 0 15px;
    background: url(../images/icon-dropdown.svg) no-repeat center right 13px;
    cursor: pointer;
    color: #757575; }
  .contact-form textarea {
    margin-bottom: 40px;
    height: 120px;
    resize: none;
    padding: 10px 15px; }
  .contact-form button[type="submit"] {
    height: 47px;
    width: 190px;
    font-size: 18px;
    color: #fff;
    background: #0c2e3b;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-transition: .2s ease;
    transition: .2s ease; }
    .contact-form button[type="submit"]:hover {
      color: #fac012; }

.footer {
  min-height: 380px;
  background: #272727; }

.footer-top {
  padding: 30px 0 70px;
  color: #fff;
  border-bottom: 1px solid #fff; }

.footer-info .text {
  margin-top: 30px;
  line-height: 150%;
  font-size: 14px;
  color: #fff;
  max-width: 320px; }

.footer-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #fac012;
  display: inline-block;
  padding: 0 14px 20px 0;
  margin-bottom: 30px; }

.block-footer-menu {
  max-width: 400px; }

.footer-menu {
  list-style: none;
  padding: 0 0; }
  .footer-menu li {
    margin-bottom: 14px; }
    .footer-menu li a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      -webkit-transition: .1s linear;
      transition: .1s linear; }
      .footer-menu li a:hover {
        color: #fac012; }

.block-adress {
  margin-top: 8px;
  padding: 0 0; }
  .block-adress .item {
    float: left; }
  .block-adress .icon {
    width: 40px;
    text-align: center;
    margin-top: 5px; }
  .block-adress .name {
    margin: 0 10px 0 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff; }
  .block-adress .info {
    font-size: 14px; }
    .block-adress .info .info-data {
      display: block;
      margin-bottom: 8px; }

.footer-bottom {
  padding: 30px 0 35px; }
  .footer-bottom .copyright {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 0 0;
    font-weight: 300; }

.wrap-popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
  overflow-x: hidden;
  overflow-y: auto; }

.content-popup {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: auto;
  min-height: 580px;
  margin: 0 auto;
  background: #fff;
  color: #000;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  padding: 40px;
  border-radius: 5px;
  z-index: 6; }
  .content-popup .close-popup {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: #b2b2b2;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out; }
    .content-popup .close-popup:hover {
      color: #0c2e3b; }
  .content-popup .title {
    color: #272727;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 30px;
    text-align: center; }
  .content-popup .popup-send {
    width: 280px;
    height: 47px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    background: #0c2e3b;
    border-radius: 5px;
    -webkit-transition: .1s ease;
    transition: .1s ease;
    margin: 30px auto 0;
    display: block; }
    .content-popup .popup-send:hover {
      color: #fac012; }

.block-popup {
  margin: 15px 0 0;
  padding: 0 0;
  display: inline-block;
  width: 100%; }
  .block-popup .name {
    width: 165px;
    margin: 0 20px 0 0;
    font-size: 18px;
    color: #0c2e3b;
    text-align: right;
    font-weight: normal; }
  .block-popup .data {
    width: 100%;
    max-width: 370px;
    font-size: 16px;
    outline: none;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 15px;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out; }
    .block-popup .data:focus {
      border-color: #fac012; }
  .block-popup.disable {
    margin: 15px 0 15px;
    height: 15px;
    line-height: 15px; }
    .block-popup.disable .name {
      color: #a6a6a6; }
    .block-popup.disable .data {
      border: none;
      background: transparent;
      font-weight: 600;
      color: #fac012;
      font-size: 18px;
      border-radius: 0;
      padding: 0 0; }

.up {
  position: fixed;
  bottom: 50px;
  right: 10%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fac012;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  z-index: 4;
  display: none; }
  .up .icon {
    display: block;
    width: 100%;
    text-align: center;
    margin: 17px 0 0;
    font-size: 12px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .house {
    height: auto; }
    .house:nth-child(4n+3) .house-img, .house:nth-child(4n+4) .house-img {
      float: left; }
      .house:nth-child(4n+3) .house-img .coner, .house:nth-child(4n+4) .house-img .coner {
        right: inherit;
        left: 50%;
        border-right: 25px solid transparent;
        border-left: 25px solid transparent; }
  .house-info {
    min-height: 300px; }
    .house-info .title {
      min-height: 44px; }
  .coner {
    top: inherit;
    right: inherit;
    left: 50%;
    bottom: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 28px solid white;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%); }
  .wrap-result {
    min-height: inherit; }
  .result-icon img {
    max-width: 70px; }
  .result-info .count {
    font-size: 28px; }
  .result-info .text {
    font-size: 24px; }
  .why-we-item {
    margin-bottom: 50px; }
  .content-result {
    padding: 45px 60px; }
  .result-title {
    font-size: 22px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header-nav {
    position: relative;
    z-index: 9;
    background: #fff; }
  .navigation {
    height: auto;
    line-height: 45px; }
    .navigation li {
      float: none;
      display: block;
      margin: 0 0;
      padding: 0 20px; }
  .slide-info {
    padding: 0 20px; }
    .slide-info .slide-title, .slide-info .slide-text {
      font-size: 24px; }
  .slider-btn-prev, .slider-btn-next {
    visibility: hidden;
    opacity: 0; }
  .wrap-contact {
    background: #fafafa;
    height: inherit; }
    .wrap-contact .map {
      display: none; }
  .contact {
    padding: 15px; }
  .contact-form {
    position: static;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    padding: 20px; }
    .contact-form .title {
      font-size: 22px; }
    .contact-form input, .contact-form select {
      height: 40px; }
  .block-footer-menu {
    max-width: inherit;
    margin: 50px 0; }
  .footer-info .text {
    max-width: inherit; }
  .footer-menu li {
    float: left;
    margin-right: 14px; }
  .content-popup {
    padding: 20px;
    top: 0;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); }
  .block-popup .name {
    text-align: left; }
  .block-popup .data {
    max-width: inherit; }
  .block-popup.disable .name {
    width: 100%;
    text-align: center; }
  .block-popup.disable .data {
    width: 100%;
    text-align: center; }
  .up {
    display: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .house {
    width: 100%; }
  .choose-house-item .options.opt-rooms, .choose-house-flats .options.opt-rooms {
    margin-top: 10px;
    width: 100%; }
  .choose-house-flats .options.opt-flats {
    margin-top: 10px;
    width: 100%; }
  .content-result {
    padding: 45px 20px; }
  .result {
    text-align: center; }
  .result-icon {
    float: none;
    margin: 0 0 10px 0; }
  .footer-menu li {
    float: none;
    display: block;
    margin-right: 0; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
